body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question p {
    font-size: 18px;
    color:black;
  }
  
  .dropdown {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .validation {
    margin-left: 10px;
    font-size: 20px;
  }
  
  .validation .correct {
    color: green;
  }
  
  .validation .incorrect {
    color: red;
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 18px;
    color: #333;
  }
  