body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color:pink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #1abc9c;
    text-align: center;
  }
  
  .question {
    margin-bottom: 20px;
  }
  .refresh-button {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #c0392b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .refresh-button:hover {
    background-color: #962d22;
  }
  
  .question p {
    font-size: 18px;
    color:navy;
  }
  
  .dropdown {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #1abc9c;
    background-color: #fff;
    color: #333;
  }
  
  .validation {
    margin-left: 10px;
    font-size: 20px;
  }
  
  .validation .correct {
    color: #27ae60;
  }
  
  .validation .incorrect {
    color: #c0392b;
  }
  
  .answers {
    margin-top: 20px;
  }
  
  .answers h2 {
    font-size: 22px;
    color: #333;
  }
  
  
  